name: Testes

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  testes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes com cobertura
        run: |
          coverage run -m unittest discover -s tests
          coverage report -m
